@model IQueryable<ThingItem>

@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Наши услуги</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ThingItems" asp-action="Edit" asp-route-id="">Добавить услугу</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ThingItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ThingItems" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        @*<form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ThingItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#"onclick="document.getElementById('form-@entity.Id').style(onsubmit);">Удалить</a>
                        </form>*@ 
                        <a asp-area="Admin" asp-controller="ThingItems" asp-action="Delete" asp-route-id="@entity.Id">Удалить</a>
                        |
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">@($"{entity.Name}")</a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-box">
        <h3>редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>